.sidebar__groups
  %a(href='/')
    .groups__items
      .items__name
        sampleグループ
      .items__message
        まだメッセージはありません。
.sidebar__groups
  %a(href='/')
    .groups__items
      .items__name
        sampleグループ
      .items__message
        まだメッセージはありません。
.sidebar__groups
  %a(href='/')
    .groups__items
      .items__name
        sampleグループ
      .items__message
        まだメッセージはありません。
