.sidebar__groups
  =link_to "/" do
    .groups__items
      .items__name
        sampleグループ
      .items__message
        まだメッセージはありません。
.sidebar__groups
  =link_to "/" do
    .groups__items
      .items__name
        sampleグループ
      .items__message
        まだメッセージはありません。
.sidebar__groups
  =link_to "/" do
    .groups__items
      .items__name
        sampleグループ
      .items__message
        まだメッセージはありません。
