.chats__chat
  .chat__name
    Natsumi
  .chat__date
    2018/10/02 06:27:07
  .chat__message
    なるほど

.chats__chat
  .chat__name
    Natsumi
  .chat__date
    2018/10/02 06:27:14
  .chat__message
    水色きれい

.chats__chat
  .chat__name
    Natsumi
  .chat__date
    2018/10/02 06:27:025
  .chat__message
    command Enterで送信したい感ある

.chats__chat
  .chat__name
    Natsumi
  .chat__date
    2018/10/02 06:27:30
  .chat__message
    お腹すいた
