=render partial: "shared/groups"

.contents-head
  .contents-head__group
    .group__groupName
      sampleグループ
    =link_to 'Edit', "/messages", :class => "group__edit"
  .contents-head__members
    Members: Natsumi

.main-contents
  .main-contents__chats
    =render partial: "messages"

  %form.inputForm
    .inputForm__text
      %textarea(name="text" placeholder="type a message" class="text__holder")
      %label
        %span(class="upload-icon" title="ファイルを選択")
          =fa_icon("picture-o")
        %input(type="file" name="datafile" id="filesend")
    .inputForm__button
      %input(id="submit_button" type="submit" value="SEND")

