.side
  .side__head
    %h2.head__userName
      = current_user.name
    =link_to "/messages" do
      =fa_icon("edit", class: "head__icon--first", style: "font-size: 20px; color: white;")
    =link_to edit_user_path(current_user) do
      =fa_icon("cog", class: "head__icon", style: "font-size: 20px; color: #fff;")
  .side_sidebar
    =render partial: "groups"

.contents-head
  .contents-head__group
    .group__groupName
      sampleグループ
    =link_to 'Edit', "/messages", :class => "group__edit"
  .contents-head__members
    Members: Natsumi

.main-contents
  .main-contents__chats
    =render partial: "messages"

  %form.inputForm
    .inputForm__text
      %textarea(name="text" placeholder="type a message" class="text__holder")
      %label
        %span(class="upload-icon" title="ファイルを選択")
          =fa_icon("picture-o")
        %input(type="file" name="datafile" id="filesend")
    .inputForm__button
      %input(id="submit_button" type="submit" value="SEND")

