.side
  .side__head
    %h2.head__userName
      = current_user.name
    =link_to new_group_path do
      =fa_icon("edit", class: "head__icon--first", style: "font-size: 20px; color: white;")
    =link_to edit_user_path(current_user) do
      =fa_icon("cog", class: "head__icon", style: "font-size: 20px; color: #fff;")
  .side_sidebar
    .sidebar__groups
      - current_user.groups.each do |group|
        =link_to group_messages_path(group) do
          .groups__items
            .items__name
              = group.name
            .items__message
              まだメッセージはありません。
